/avaco-api/.classpath
/avaco-api/.project
/avaco-api/.settings/.jsdtscope
/avaco-api/.settings/org.eclipse.core.resources.prefs
/avaco-api/.settings/org.eclipse.jdt.core.prefs
/avaco-api/.settings/org.eclipse.m2e.core.prefs
/avaco-api/.settings/org.eclipse.wst.common.component
/avaco-api/.settings/org.eclipse.wst.common.project.facet.core.xml
/avaco-api/.settings/org.eclipse.wst.jsdt.ui.superType.container
/avaco-api/.settings/org.eclipse.wst.jsdt.ui.superType.name
/avaco-api/.settings/org.eclipse.wst.validation.prefs
